<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhm.mapper.UserMapper" >

    <resultMap id="BaseResultMap" type="com.lhm.model.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="account_number" property="accountNumber" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    </resultMap>

    <select id="listUsers" parameterType="java.util.Map" resultType="BaseResultMap" >
        SELECT id, account_number, password, create_date FROM user_info t LIMIT 0,10
    </select>

    <select id="countRows" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM user_info;
    </select>

    <select id="getRoleIds" parameterType="java.lang.String" resultType="java.lang.String" >
        SELECT group_concat(role_id)AS roleIds FROM user_role WHERE user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <!-- 针对用户id删除该用户对应的所有角色-->
    <delete id="delRoleByUserId" parameterType="java.lang.String">
        delete from user_role where user_id =#{userId,jdbcType=VARCHAR}
    </delete>

    <!-- 批量插入用户角色数据-->
    <insert id="insertUserRole" parameterType="java.util.List">
        INSERT INTO user_role(user_id,role_id)
        VALUES
        <foreach collection="list" item="emp" separator=",">
            (#{emp.userId,jdbcType=VARCHAR},#{emp.roleId,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <delete id="delUserByRoleId" parameterType="java.lang.String">
        delete from user_role where role_id =#{roleId,jdbcType=VARCHAR}
    </delete>

</mapper>